// out: ../css/main.additem.css, sourcemap: false, compress: false

// Importing Main Styles
@import url( 'main.less' );

// Landing Page Content
#page_header {
    // Logo
    #logo_container {
        //
    }

    // Banner
    #banner_container {
        //
    }

    // Logout Button
    #logout_container {
        //
    }
}

nav.ui.menu {
    //
}

#page_content {

    .temp_class {
        text-align : center;
        width      : 50%;
        margin     : auto;

        .input_fields {
            background     : @color_primary;
            border-radius  : 10px;
            color          : white;
            margin         : 20px auto;
            padding        : 10px 10px;

            .input_container {
                border  : none;
                margin  : 10px 0px;
            }

        }

        .button_container {
            border  : none;
            margin  : 10px 0px;
        }

        .textbox {
            border  : none;
            margin  : 10px 0px;
            padding : 0px;
            height  : 100px;
        }

        .subtext {
            .animate( all, 0.2s );
            color           : @color_primary;
            cursor          : pointer;
            text-decoration : underline;

            &:hover, &:focus {
                color : white;
            }
        }
    }

}


// Mobile Style Overrides
@media only screen and ( max-width : @screen_max_width )
{
    #page_content {
        .temp_class {
            //min-width : auto;
            width   : 80%;
        }

    }
}
