// out: ../css/main.manageAccounts.css, sourcemap: false, compress: false

// Importing Main Styles
@import url( 'main.less' );

// Manage Accounts Page Styles
#page_content {
    .table_container {
        background    : @color_primary;
        border-radius : 10px;
        color         : white;
        padding       : 0.5em;
        max-height: 100%;

        .title {
            font-size: 1.2em;
            border-bottom: 2px solid white;
            padding: 0.4em;
        }

        table {
            display: flex;
            flex-flow: column;
            border-collapse: collapse;
            border-style: hidden;
            width: 100%;

            thead {
                display: table;
                width: 100%;
                table-layout: fixed;
                background: lighten(@color_primary, 6%);

                th {
                    border-right: 1px solid @color_tertiary;
                    width: 25%;
                    padding: 8px;

                    &:last-child {
                        border: none;
                    }
                }
            }

            tbody {
                display: block;
                overflow-x: hidden;
                overflow-y: auto;
                max-height: ~"calc(100vh - 270px)";

                tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;

                    &:nth-child(even) {
                        background-color: @color_primary;
                    }

                    &:nth-child(odd) {
                        background-color: @color_secondary;
                    }

                    td {
                        border-right: 1px solid @color_tertiary;
                        width: 25%;
                        padding: 8px;

                        &:last-child {
                            border: none;
                        }

                        .button_container {
                            .button {
                                width : 90px;
                                display: inline-block;
                                margin: 5px auto;

                                .web {
                                    display: inline;
                                }

                                .mobile {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Mobile Style Overrides
@media only screen and ( max-width : @screen_max_width )
{
    #page_content {
        .table_container {
            table {
                tbody {
                    tr {
                        td {
                            .button_container {
                                .button {
                                    width : 50px;

                                    .web {
                                        display: none;
                                    }

                                    .mobile {
                                        display: inline;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
