// out: ../css/main.manageAccounts.css, sourcemap: false, compress: false

// Importing Main Styles
@import url( 'main.less' );

// Manage Accounts Page Styles
#page_content {
    .page_container {
        margin     : 0 auto;
        text-align : center;
        width      : 80%;
        background    : @color_primary;
        border-radius : 10px;
        color         : white;
        padding       : 0.5em;
        max-height: 100%;

        .title {
            font-size: 1.2em;
            border-bottom: 2px solid white;
            padding: 0.4em;
        }

        table {
            border-collapse: collapse;
            border-style: hidden;
            width: 100%;

            thead {
                background-color: @color_primary;

                th {
                    text-align: left;
                    padding: 8px;

                    &:last-child {
                        width: 200px;
                    }
                }
            }

            tbody {
                tr {
                    &:nth-child(even) {
                        background-color: @color_primary;
                    }

                    &:nth-child(odd) {
                        background-color: @color_secondary;
                    }

                    td {
                        border-right: 1px solid @color_tertiary;
                        text-align: left;
                        padding: 8px;

                        &:last-child {
                            border: none;
                        }
                    }
                }
            }

            .button_container {
                display: inline-block;

                .button {
                    width : 90px;
                }
            }
        }
    }
}

// Mobile Style Overrides
@media only screen and ( max-width : @screen_max_width )
{
    #page_content {
        .page_container {
            width : auto;

            table {
                width: 100%;

                tbody {
                    display: block;

                    td {
                        width: 33%;

                        &:last-child {
                            width: 90px;
                        }
                    }
                }

                tbody {
                    max-height: ~"calc(100vh - 270px)";
                    overflow-y: scroll;
                }
            }
        }
    }
}
