// out: ../css/main.manageOptions.css, sourcemap: false, compress: false

// Importing Main Styles
@import url( 'main.less' );

// Manage Options Page Styles
#page_content {

    input {
        border-radius: 4px;
        padding: 5px 10px;
        margin: 10px;
        width: auto;
    }

        .update_options_form {
            display: none;
        }

        .attr_container {
            margin     : 0 auto;
            font-size : 1.25rem;
            text-align : center;
            max-width : 500px;
            width      : 80%;
            background    : @color_primary;
            border-radius : 10px;
            color         : white;
            margin        : 20px auto;
            padding       : 0.5em;


            .colorOption, .eraOption {
                border-radius : 10px;
                margin: 10px 10px;
                padding: 1em;
                //font-size : 1.25rem;
                text-align : left;
                background : @color_secondary;

                .ui.divider.white {
                    margin: 10px;
                }


                .button_container {
                    text-align  : right;
                    //margin-top  : 10px;
                    //float: right
                }

            }

        }

}

// Mobile Style Overrides
@media only screen and ( max-width : @screen_max_width )
{
    #page_content {
        input {
            width: 125px;
        }
            .attr_container {
                width : 90%;

                .colorOption, .eraOption {
                    padding: 0.75em;

                    .button_container {
                        text-align  : center;
                    }
                }

                form {
                    .new_input {
                        width: 175px;
                    }
                }

        }
    }
}
