/* Imports */
/* Imports */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* Mixins */
/* Variables */
/* Usage */
body,
input {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  position: relative;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.vertically-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#screen {
  height: 540px;
  width: 300px;
  background: #ACC0FD;
  border: 1px solid #616161;
  position: relative;
}
#logo {
  background: #FFFFFF;
  padding: 10px 0;
}
#logo img {
  width: 300px;
}
.input-field {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 250px;
  margin: 10px 0;
  color: #000000;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
}
.input-field:focus {
  border: 2px solid #007AC4;
}
.button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 250px;
  margin: 10px 0;
  color: #000000;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.button:focus {
  border: 2px solid #007AC4;
}
.button:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 12px #000000;
}
.button:focus {
  border: none;
}
.button:active {
  box-shadow: none;
}
.button.blue {
  background: -webkit-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: -moz-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: -ms-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: -o-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: linear-gradient(0deg, #2683CC, #3A9BCF);
  color: #FFFFFF;
}
.button.blue:hover {
  background: #FFFFFF;
  color: #000000;
}
.button.blue:active {
  background: #2275b7;
  color: #FFFFFF;
}
.button.white {
  background-color: white;
  color: #007AC4;
  border: 2px solid #007AC4;
}
.button.white:hover {
  background: #007AC4;
  color: #FFFFFF;
}
.button.small {
  height: 20px;
  width: 50px;
  font-size: 14px;
}
.button#back-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #007AC4;
  color: #FFFFFF;
  height: 50px;
  width: 100%;
  position: relative;
}
/* Usage */
#logo {
  margin-top: 50px;
}
#container-buttons {
  position: relative;
  top: 20%;
}
#container-fields {
  margin-top: 30px;
}
.banner {
  margin-top: 30px;
}
.subtext {
  color: #007AC4;
  text-decoration: underline;
  font-size: 12px;
}
.subtext:hover {
  color: #FFFFFF;
}
