/* Imports */
/* Imports */
/* Imports */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* Mixins */
/* Variables */
/* Usage */
body,
input {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  position: relative;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.vertically-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#screen {
  height: 540px;
  width: 300px;
  background: #ACC0FD;
  border: 1px solid #616161;
  position: relative;
}
#logo {
  background: #FFFFFF;
  padding: 10px 0;
}
#logo img {
  width: 300px;
}
.input-field {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 250px;
  margin: 10px 0;
  color: #000000;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
}
.input-field:focus {
  border: 2px solid #007AC4;
}
.button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 250px;
  margin: 10px 0;
  color: #000000;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.button:focus {
  border: 2px solid #007AC4;
}
.button:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 12px #000000;
}
.button:focus {
  border: none;
}
.button:active {
  box-shadow: none;
}
.button.blue {
  background: -webkit-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: -moz-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: -ms-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: -o-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: linear-gradient(0deg, #2683CC, #3A9BCF);
  color: #FFFFFF;
}
.button.blue:hover {
  background: #FFFFFF;
  color: #000000;
}
.button.blue:active {
  background: #2275b7;
  color: #FFFFFF;
}
.button.white {
  background-color: white;
  color: #007AC4;
  border: 2px solid #007AC4;
}
.button.white:hover {
  background: #007AC4;
  color: #FFFFFF;
}
.button.small {
  height: 20px;
  width: 50px;
}
.button#back-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #007AC4;
  color: #FFFFFF;
  height: 50px;
  width: 100%;
  position: relative;
}
/* Usage */
#back-button:hover {
  border-color: white;
}
.logo-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #007AC4;
  color: #FFFFFF;
  height: 50px;
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
}
.logo-banner img {
  width: 150px;
}
.menu-icon {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: absolute;
  padding: 6px;
  top: 8px;
  right: 8px;
}
.menu-icon:hover {
  cursor: pointer;
  background: white;
  color: black;
}
.menu {
  position: absolute;
  top: 50px;
  right: 7.5px;
  visibility: collapse;
  z-index: 1;
}
.menu.show {
  visibility: visible;
}
.menu .menu-option {
  width: 100%;
  padding: 12px 7.5px;
  border: 1px solid #2683CC;
  text-align: center;
  background: #FFFFFF;
  color: #2683CC;
  font-size: 18px;
}
.menu .menu-option a {
  color: #2683CC;
}
.menu .menu-option:hover {
  background: #009af7;
  color: #FFFFFF;
}
/* Usage */
.has-border {
  padding: 2px 10px;
  border: 2px solid black;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
#search-screen {
  background: white;
  height: 490px;
  overflow: hidden;
}
#search-screen #search-filters-container {
  background: #c9e2f5;
  padding-top: 10px;
  margin-bottom: 10px;
}
#search-screen #search-filters-container #filters {
  width: 120px;
  margin-right: 10px;
}
#search-screen #search-filters-container #edit-filter:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
#search-screen #search-filters-container #search-bar {
  width: 220px;
  margin: 0;
  height: auto;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#search-screen #search-filters-container #search-button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 250px;
  margin: 10px 0;
  color: #000000;
  font-size: 16px;
  border: none;
  outline: none;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  width: 40px;
  height: 30px;
  background: #2683cc;
  color: white;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: none;
}
#search-screen #search-filters-container #search-button:focus {
  border: 2px solid #007AC4;
}
#search-screen #search-filters-container #search-button:hover {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 12px #000000;
}
#search-screen #search-filters-container #search-button:focus {
  border: none;
}
#search-screen #search-filters-container #search-button:active {
  box-shadow: none;
}
#search-screen #search-filters-container #search-button.blue {
  background: -webkit-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: -moz-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: -ms-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: -o-linear-gradient(90deg, #2683CC, #3A9BCF);
  background: linear-gradient(0deg, #2683CC, #3A9BCF);
  color: #FFFFFF;
}
#search-screen #search-filters-container #search-button.blue:hover {
  background: #FFFFFF;
  color: #000000;
}
#search-screen #search-filters-container #search-button.blue:active {
  background: #2275b7;
  color: #FFFFFF;
}
#search-screen #search-filters-container #search-button.white {
  background-color: white;
  color: #007AC4;
  border: 2px solid #007AC4;
}
#search-screen #search-filters-container #search-button.white:hover {
  background: #007AC4;
  color: #FFFFFF;
}
#search-screen #search-filters-container #search-button.small {
  height: 20px;
  width: 50px;
}
#search-screen #search-filters-container #search-button#back-button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin: 0;
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}
#search-screen #search-filters-container #search-button:hover {
  box-shadow: none;
  background: #73b3e5;
}
#search-screen #search-results-container {
  height: 390px;
  overflow-y: scroll;
}
#search-screen #search-results-container .inventory-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
#search-screen #search-results-container .inventory-item .item-img {
  border: 1px solid grey;
  display: inline-block;
  margin: 0 10px;
}
#search-screen #search-results-container .inventory-item .item-img img {
  width: 100px;
  height: 100px;
}
#search-screen #search-results-container .inventory-item .item-description {
  color: black;
  height: 100px;
  display: inline-block;
}
#search-screen #search-results-container .inventory-item .item-description .item-name {
  font-size: 18px;
}
#search-screen #search-results-container .inventory-item .item-description .item-detail {
  font-size: 16px;
}
#search-screen #search-results-container .inventory-item .item-description .item-type {
  font-size: 14px;
}
#search-screen #search-results-container .inventory-item .item-description .item-etc {
  font-size: 14px;
}
#search-screen #search-results-container #pagination {
  margin: 10px 0;
}
#search-screen #search-results-container #pagination div {
  margin: 0 5px;
}
