/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Variables */
/* Screen Constants */
/* Colors */
/* Theme Variables */
/* Animations */
/* Miscellaneous */
/* Mixins */
/* Common Classes */
.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.center-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Animations */
.fade_in {
  animation: fade_in 0.25s ease;
  opacity: 1;
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade_out {
  animation: fade_out 0.25s ease;
  opacity: 0;
}
@keyframes fade_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Alerts */
.alert {
  padding: 15px;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert.alert-success {
  background: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}
.alert.alert-danger {
  background: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}
#screen {
  background: #ACC0FD;
  overflow: hidden;
}
#page_header {
  padding: 20px;
  background: #007AC4;
  text-align: center;
  width: 100%;
}
#page_header #logo_container {
  position: absolute;
  left: 20px;
}
#page_header #logo_container .logo {
  height: 36px;
}
#page_header #banner_container {
  display: inline-block;
}
#page_header #banner_container .banner {
  color: white;
  display: inline-block;
  margin: 0px;
}
#page_header #logout_container {
  position: absolute;
  right: 20px;
}
nav.ui.menu {
  border-radius: 0px;
  margin: 0px;
}
nav.ui.menu .item.ui.dropdown {
  display: none;
}
#page_content {
  height: calc(100% - 120px);
  min-width: 500px;
  overflow-y: auto;
  padding: 20px 5%;
  text-align: center;
  width: 100%;
}
#page_content .ui.divider.white {
  border-bottom-color: rgba(255, 255, 255, 0.6);
  border-top-color: rgba(0, 0, 0, 0.2);
}
#page_content .input_container,
#page_content .button_container {
  border: none;
  margin: 0px;
  padding: 0px;
}
#page_content .input_container .width_half,
#page_content .button_container .width_half {
  width: 49.5%;
}
#page_content .input_container .width_half.left,
#page_content .button_container .width_half.left {
  float: left;
}
#page_content .input_container .width_half.right,
#page_content .button_container .width_half.right {
  float: right;
}
#page_content .textbox {
  border: none;
  margin: 10px 0px;
  padding: 0px;
  height: 100px;
}
#page_content .subtext {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #007AC4;
  cursor: pointer;
  text-decoration: underline;
}
#page_content .subtext:hover,
#page_content .subtext:focus {
  color: white;
}
@media only screen and (max-width: 767px) {
  #page_header #logo_container .logo {
    width: 90px;
  }
  #page_header #banner_container .banner {
    font-size: 1.8rem;
  }
  #page_header #logout_container .icon {
    display: none;
  }
  .ui.menu:not(.vertical) .item {
    display: none;
  }
  .ui.menu:not(.vertical) .item.ui.dropdown {
    display: flex;
  }
  #page_content {
    min-width: auto;
  }
}
#page_content input {
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
  width: auto;
}
#page_content .update_options_form {
  display: none;
}
#page_content .attr_container {
  background: #007AC4;
  border-radius: 10px;
  color: white;
  padding: 0.5em;
  margin-bottom: 20px;
  max-height: calc(100% - 300px);
  overflow-y: auto;
}
#page_content .attr_container .title {
  font-size: 1.2em;
  border-bottom: 2px solid white;
  padding: 0.4em;
}
#page_content .attr_container table {
  display: flex;
  flex-flow: column;
  border-collapse: collapse;
  border-style: hidden;
  width: 100%;
}
#page_content .attr_container thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  background: #008de3;
}
#page_content .attr_container th {
  border-right: 1px solid #ACC0FD;
  width: 25%;
  padding: 8px;
}
#page_content .attr_container th:last-child {
  border: none;
}
#page_content .attr_container tbody {
  display: block;
}
#page_content .attr_container tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
#page_content .attr_container tbody tr:nth-child(even) {
  background-color: #007AC4;
}
#page_content .attr_container tbody tr:nth-child(odd) {
  background-color: #6f9bdc;
}
#page_content .attr_container tbody tr td {
  border-right: 1px solid #ACC0FD;
  width: 25%;
  padding: 8px;
}
#page_content .attr_container tbody tr td:last-child {
  border: none;
}
#page_content .attr_container tbody tr td .button {
  width: 90px;
  display: inline-block;
  margin: 5px auto;
}
#page_content .attr_container tbody tr td .button .web {
  display: inline;
}
#page_content .attr_container tbody tr td .button .mobile {
  display: none;
}
@media only screen and (max-width: 767px) {
  #page_content input {
    width: 100px;
  }
  #page_content .attr_container {
    width: 100%;
    max-height: calc(100% - 175px);
  }
  #page_content .attr_container table tbody tr td .button {
    width: 50px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  #page_content .attr_container table tbody tr td .button .web {
    display: none;
  }
  #page_content .attr_container table tbody tr td .button .mobile {
    display: inline;
  }
  #page_content .attr_container form .new_input {
    width: 120px;
  }
}
