{% extends "base.html" %}

{% block title %}Add Item{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.additem.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<a id="logo_container" href="{{ url_for('home_page') }}">
    <img src="{{ url_for('static', filename='images/UAH_logo.svg') }}" class="logo">
</a>

<div id="logout_container">
    <a href="{{ url_for('logout') }}"
       class="ui button white">
        <i class="icon sign out"></i>
        Logout
    </a>
</div>

<div id="banner_container">
    <h1 class="banner">Add Item</h1>
</div>
{% endblock %}

{% block navbar %}
{% include "base.navbar.html" %}
{% endblock %}

{% block pagecontent %}
<form class="item_container" method="post" enctype="multipart/form-data">
    <div class="input_fields">
        <input class="file_input" type="file" name='image' accept='.jpg, .jpeg, .png, .bmp, .gif' multiple>

        <fieldset class="input_container">
            <div class="ui input fluid">
                <input name="itemName" type="text" placeholder="Item Name">
            </div>
        </fieldset>

        <div class="ui form">
            <div class="field">
                <textarea name="itemDescription" rows="4" placeholder="Description"></textarea>
            </div>
        </div>

        <fieldset class="input_container">
            <div class="ui selection dropdown fluid" id="category_dropdown">
                <input type="hidden" name="itemCategory">
                <i class="dropdown icon"></i>
                <div class="default text">Category</div>
                <div class="menu">
                    <div class="item">Costume</div>
                    <div class="item">Prop</div>
                </div>
            </div>
        </fieldset>

        <fieldset class="input_container">
            <div class="ui dropdown selection fluid" id="era_dropdown">
                <input type="hidden" name="itemEra">
                <i class="dropdown icon"></i>
                <div class="default text">Era</div>
                <div class="menu">
                    {% for era in eras %}
                    <div class="item">{{ era }}</div>
                    {% endfor %}
                </div>
            </div>
        </fieldset>

        <fieldset class="input_container">
            <div class="ui dropdown selection multiple fluid" id="color_dropdown">
                <input type="hidden" name="itemColors">
                <i class="dropdown icon"></i>
                <div class="default text">Colors</div>
                <div class="menu">
                    {% for color in colors %}
                    <div class="item">{{ color }}</div>
                    {% endfor %}
                </div>
            </div>
        </fieldset>

        <fieldset class="input_container">
            <div class="ui input fluid">
                <input name="itemSize" type="text" placeholder="Size">
            </div>
        </fieldset>

        <fieldset class="input_container">
            <div class="ui dropdown selection fluid" id="condition_dropdown">
                <input type="hidden" name="itemCondition">
                <i class="dropdown icon"></i>
                <div class="default text">Condition</div>
                <div class="menu">
                    {% for condition in conditions %}
                    <div class="item">{{ condition }}</div>
                    {% endfor %}
                </div>
            </div>
        </fieldset>
    </div>

    <div class="button_container">
        <button type='submit'
           class="ui button fluid blue">
            Submit
        </button>
    </div>

    <div class="button_container">
        <a href="{{ url_for('home_page') }}"
           class="ui button fluid">
            Cancel
        </a>
    </div>
</form>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/semantic.dropdown.js') }}" type="text/javascript"></script>
{% endblock %}
