{% extends "base.html" %}

{% block title %}Add Item{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.additem.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<a id="logo_container" href="{{ url_for('home_page') }}">
    <img src="{{ url_for('static', filename='images/UAH_logo.svg') }}" class="logo">
</a>

<div id="logout_container">
    <a href="{{ url_for('logout') }}"
       class="ui button white">
        <i class="icon sign out"></i>
        Logout
    </a>
</div>

<div id="banner_container">
    <h1 class="banner">Add Item</h1>
</div>
{% endblock %}

{% block navbar %}
{% include "base.navbar.html" %}
{% endblock %}

{% block pagecontent %}
<div class="temp_class">
    <form method="post" action="/items/new" enctype="multipart/form-data">
        <fieldset class="input_container">
            <div class="ui input fluid">
                <input id="itemname" type="text" placeholder="Item Name">
            </div>
        </fieldset>

        <fieldset class="input_container">
            <div class="ui selection dropdown fluid">
                <input type="hidden" name="">
                <i class="dropdown icon"></i>
                <div class="default text">Category</div>
                <div class="menu">
                    <div class="item">Costume</div>
                    <div class="item">Prop</div>
                </div>
            </div>
        </fieldset>

        <div class="ui form">
            <div class="field">
                <textarea placeholder="Description" rows="2"></textarea>
            </div>
        </div>

        <fieldset class="input_container">
            <div class="ui selection dropdown fluid">
                <input type="hidden" name="">
                <i class="dropdown icon"></i>
                <div class="default text">Condition</div>
                <div class="menu">
                    <div class="item">New</div>
                    <div class="item">Good</div>
                    <div class="item">Decent</div>
                    <div class="item">Worn</div>
                </div>
            </div>
        </fieldset>

        <fieldset class="input_container">
            <select class="ui selection dropdown">
                <option value="">Color</option>
                <option value="black">Black</option>
                <option value="blue">Blue</option>
                <option value="green">Green</option>
                <option value="red">Red</option>
            </select>
        </fieldset>

        <fieldset class="input_container">
            <select class="ui selection dropdown">
                <option value="">Size</option>
                <option value="s">Small</option>
                <option value="m">Medium</option>
                <option value="l">Large</option>
                <option value="xl">X-Large</option>
            </select>
        </fieldset>

        <fieldset class="input_container">
            <select class="ui selection dropdown">
                <option value="">Era</option>
                <option value="chinese">Chinese</option>
                <option value="medieval">Medieval</option>
            </select>
        </fieldset>

        <input type="file" name='image' accept='.jpg, .jpeg, .png, .bmp, .gif'>

        <div class="button_container">
            <button type='submit'
               class="ui button fluid blue">
                Submit
            </button>
        </div>

        <div class="button_container">
            <a href="{{ url_for('home_page') }}"
               class="ui button fluid">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %}

{% block js %}{% endblock %}
