<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <link rel='stylesheet' type='text/css' href='/static/style/main-home.css'>
    </head>
    <body class='center'>
        <div id='screen'>
            <div class='logo-banner'>
                <img src='/static/assets/UAH_bluewht.png'>
            </div>

            <div class='banner'>
                <span>Home</span>

                <i class="fa fa-bars menu-icon"></i>
                <div class='vertically-center menu'>
                    <a href='home.html' class='menu-option'>
                        <span>Home</span>
                    </a>
                    <a href='' class='menu-option'>
                        <span>Settings</span>
                    </a>
                    <a href='index.html' class='menu-option'>
                        <span>Log Out</span>
                    </a>
                </div>
            </div>

            <div class='vertically-center'>
                <a href='search.html' class='home-option'>
                    <span>Costumes</span>
                </a>
                <a href='search.html' class='home-option'>
                    <span>Props</span>
                </a>
                <a href='' class='home-option'>
                    <span>Add Item</span>
                </a>
            </div>
        </div>

        <script src="https://use.fontawesome.com/ea1fec41e1.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="/static/scripts/toggle-menu.js"></script>
    </body>
</html>
