{% extends "base.html" %}

{% block title %}Item | {{ item.OBJECTNAME }}{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.item.css') }}"       rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/jquery.colorbox.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<a id="logo_container" href="{{ url_for('home_page') }}">
    <img src="{{ url_for('static', filename='images/UAH_logo.svg') }}" class="logo">
</a>

<div id="logout_container">
    <a href="{{ url_for('logout') }}"
       class="ui button white">
        <i class="icon sign out"></i>
        Logout
    </a>
</div>

<div id="banner_container">
    <h1 class="banner">Search</h1>
</div>
{% endblock %}

{% block navbar %}
{% include "base.navbar.html" %}
{% endblock %}

{% block pagecontent %}
<form class="item_container" method="post">
    {% for image in images %}
    <a class="ui image medium group" href="{{ url_for('load_image', filename=image[0]) }}">
        <img src="{{ url_for('load_image', filename=item.IMAGE) }}">
    </a>
    {% endfor %}

    <div class="description">
        <h2 class="header static">{{ item.OBJECTNAME }}</h2>
        <div class="ui form meta update">
            <div class="field">
                <label>Name</label>
                <input name="itemName" type="text" value="{{ item.OBJECTNAME }}"></input>
            </div>
        </div>

        <div class="ui form meta">
            <div class="field">
                <label>Description: </label>
                <p class="static">{{ item.DESCRIPTION }}</p>
                <textarea name="itemDescription" rows="8" class="update">{{ item.DESCRIPTION }}</textarea>
            </div>
        </div>

        <div class="ui form meta">
            <div class="field">
                <label>Category: </label>
                <p class="static">{{ convertTypeToString(item.TYPE) }}</p>

                <div class="ui dropdown selection update" id="category_dropdown">
                    <input type="hidden" name="itemCategory">
                    <i class="dropdown icon"></i>
                    <div class="default text">Category</div>
                    <div class="menu">
                        <div class="item">Costume</div>
                        <div class="item">Prop</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui form meta">
            <div class="field">
                <label>Era: </label>
                <p class="static">{{ item.ERANAME }}</p>

                <div class="ui dropdown selection update" id="era_dropdown">
                    <input type="hidden" name="itemEra">
                    <i class="dropdown icon"></i>
                    <div class="default text">Era</div>
                    <div class="menu">
                        {% for era in eras %}
                        <div class="item">{{ era }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="ui form meta">
            <div class="field">
                <label>Colors: </label>
                <p class="static">{{ itemColors }}</p>

                <div class="ui dropdown selection multiple update" id="color_select">
                    <input type="hidden" name="itemColors">
                    <i class="dropdown icon"></i>
                    <div class="default text">Colors</div>
                    <div class="menu">
                        {% for color in colors %}
                        <div class="item">{{ color }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% if item.TYPE == 'c' %}
        <div class="ui form meta">
            <div class="field">
                <label>Size: </label>
                <p class="static">{{ size }}</p>

                <div class="ui dropdown selection update" id="size_dropdown">
                    <input type="hidden" name="itemSize">
                    <i class="dropdown icon"></i>
                    <div class="default text">Size</div>
                    <div class="menu">
                        {% for size in sizes %}
                        <div class="item">{{ size }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if item.TYPE == 'p' %}
        <div class="ui form meta">
            <div class="field">
                <label>Dimension: </label>
                <p class="static">{{ dimension }}</p>

                <div class="ui dropdown selection update" id="dimension_dropdown">
                    <input type="hidden" name="itemDimension">
                    <i class="dropdown icon"></i>
                    <div class="default text">Dimension</div>
                    <div class="menu">
                        {% for dimension in dimensions %}
                        <div class="item">{{ dimension }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="ui form meta">
            <div class="field">
                <label>Condition: </label>
                <p class="static condition {{ item.CNDTNNAME }}">{{ item.CNDTNNAME }}</p>

                <div class="ui dropdown selection update" id="condition_dropdown">
                    <input type="hidden" name="itemCondition">
                    <i class="dropdown icon"></i>
                    <div class="default text">Condition</div>
                    <div class="menu">
                        {% for condition in conditions %}
                        <div class="item">{{ condition }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if item.CHECKEDOUTTO == None or item.CHECKEDOUTTO == currentUser.UID %}
    <div class="button_container static">
        <input class="ui button fluid green" type="submit" name="submit" value="" id="check_button"></input>
    </div>
    {% else %}
    <div class="button_container static">
        <button class="ui button fluid disabled" disabled>Checked out to '{{ borrower }}'</button>
    </div>
    {% endif %}

    <div class="button_container static">
        <button class="ui button fluid yellow" type="button" id="update_button">
            Update
        </button>
    </div>

    <div class="button_container update">
        <input class="ui button fluid green" type="submit" name="submit" value="Confirm"></input>
    </div>

    <div class="button_container update">
        <button class="ui button fluid" type="button" id="cancel_button">
            Cancel
        </button>
    </div>

    <div class="button_container static">
        <input class="ui button fluid red" type="submit" name="submit" value="Delete"></input>
    </div>
</form>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.colorbox.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/semantic.dropdown.js') }}"   type="text/javascript"></script>
<script type="text/javascript">
$(".group").colorbox({
    maxWidth    : '80%',
    scalePhotos : true,
    rel         :'group'
});

{% if item.CHECKEDOUTTO == currentUser.UID %}
$('#check_button').val('Check In');
{% else %}
$('#check_button').val('Check Out');
{% endif %}

$('#update_button').click(function() {
    $('.static').css('display', 'none');
    $('.update').css('display', 'block');
});

$('#cancel_button').click(function() {
    $('.static').css('display', 'inline-block');
    $('.header.static, .button_container.static').css('display', 'block');
    $('.update').css('display', 'none');
});

$('#category_dropdown').dropdown('set selected', '{{ convertTypeToString(item.TYPE) }}');
$('#era_dropdown').dropdown('set selected', '{{ item.ERANAME }}');
$('#color_select').dropdown('set selected', {{ itemColorArray | safe }});
$('#size_dropdown').dropdown('set selected', '{{ size }}');
$('#dimension_dropdown').dropdown('set selected', '{{ dimension }}');
$('#condition_dropdown').dropdown('set selected', '{{ item.CNDTNNAME }}');
</script>
{% endblock %}
