<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <link rel='stylesheet' type='text/css' href='/static/style/main-exterior.css'>
    </head>
    <body class='center'>
        <div id='screen'>
            <a href='index.html' id='back-button' class='small white button'>
                Back
            </a>

            <div id='logo'>
                <img src='/static/assets/UAH_bluewht.png'>
            </div>

            <div class='banner'>
                Login
            </div>

            <div id='container-fields' class='vertically-center'>
                <input type='text'     class='input-field' placeholder='Username'>
                <input type='password' class='input-field' placeholder='Password'>
            </div>

            <div class='vertically-center'>
                <a href='home.html' class='blue button'>
                    Login
                </a>

                <a href='registration.html' class='subtext'>
                    Don't have an account? Register Here!
                </a>
            </div>
        </div>
    </body>
</html>
