{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.login.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<div id="logo_container">
    <img src="{{ url_for('static', filename='images/UAH_logo.svg') }}" class="logo">
</div>

<div id="banner_container">
    <h1 class="banner">UAH Theater Inventory</h1>
</div>
{% endblock %}

{% block navbar %}{% endblock %}

{% block pagecontent %}
<form method="post">
    <fieldset class="input_container">
        <div class="ui input fluid">
            <input id="username" type="text" name="username" placeholder="Username">
        </div>
    </fieldset>

    <fieldset class="input_container">
        <div class="ui input fluid">
            <input id="password" type="password" name="password" placeholder="Password">
        </div>
    </fieldset>

    <div class="button_container">
        <button type="submit"
                class="ui button fluid blue">
            Login
        </button>
    </div>

    <div class="button_container">
        <a href="{{ url_for('register') }}"
           class="ui button fluid blue">
            Register
        </a>
    </div>
</form>
{% endblock %}

{% block js %}{% endblock %}
