{% extends "base.html" %}

{% block title %}Manage Accounts{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.manageAccounts.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<a id="logo_container" href="{{ url_for('home_page') }}">
    <img src="{{ url_for('static', filename='images/UAH_logo.svg') }}" class="logo">
</a>

<div id="logout_container">
    <a href="{{ url_for('logout') }}"
       class="ui button white">
        <i class="icon sign out"></i>
        Logout
    </a>
</div>

<div id="banner_container">
    <h1 class="banner">Manage Accounts</h1>
</div>
{% endblock %}

{% block navbar %}
{% include "base.navbar.html" %}
{% endblock %}

{% block pagecontent %}
<div class="page_container">
    <div class="title">Accounts</div>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account[1] }}</td>
                <td>{{ account[3] }}</td>
                <td>{{ account[4] }}</td>
                <td>
                    <div class="button_container">
                    {% if not account[6] %}
                    <button class="ui button green toggle_status_button" type="button" uid="{{ account[0] }}">
                        Verify
                    </button>
                    {% else %}
                    <button class="ui button orange toggle_status_button" type="button" uid="{{ account[0] }}">
                        Disable
                    </button>
                    {% endif %}
                    <button class="ui button red delete_account_button" type="button" uid="{{ account[0] }}">
                        Delete
                    </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
<script type='text/javascript'>
$('.toggle_status_button').click(function() {
    $.ajax({
        url: '/account/verify/' + $(this).attr("uid"),
        type: 'POST',
        success: function(data, status) {
            location.reload();
        },
        error: function() {
            console.log("Error occurs. Please try again.");
        }
    });
});
$('.delete_account_button').click(function() {
    $.ajax({
        url: '/account/delete/' + $(this).attr("uid"),
        type: 'POST',
        success: function(data, status) {
            location.reload();
        },
        error: function() {
            console.log("Error occurs. Please try again.");
        }
    });
});
</script>
{% endblock %}
