{% extends "base.html" %}

{% block title %}Manage Accounts{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.manageAccounts.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<a id="logo_container" href="{{ url_for('home_page') }}">
    <img src="{{ url_for('static', filename='images/UAH_logo.svg') }}" class="logo">
</a>

<div id="logout_container">
    <a href="{{ url_for('logout') }}"
       class="ui button white">
        <i class="icon sign out"></i>
        Logout
    </a>
</div>

<div id="banner_container">
    <h1 class="banner">Manage Accounts</h1>
</div>
{% endblock %}

{% block navbar %}
{% include "base.navbar.html" %}
{% endblock %}

{% block pagecontent %}
    <div class="page_container">
        {% for account in accounts %}
        <div class="account">

            <span>{{ account.USERNAME }}</span>
                <div class="button_container">

                {% if not account.ISVERIFIED %}
                    <button class="ui button toggle_status_button" type="button" uid="{{ account.UID }}">
                        Verify
                    </button>
                {% else %}
                    <button class="ui button toggle_status_button" type="button" uid="{{ account.UID }}">
                        Disable
                    </button>
                {% endif %}
                <button class="ui button delete_account_button" type="button" uid="{{ account.UID }}">
                    Delete
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
<script type='text/javascript'>
$('.toggle_status_button').click(function() {
    $.ajax({
        url: '/account/verify/' + $(this).attr("uid"),
        type: 'POST',
        success: function(data, status) {
            location.reload();
        },
        error: function() {
            console.log("Error occurs. Please try again.");
        }
    });
});
$('.delete_account_button').click(function() {
    $.ajax({
        url: '/account/delete/' + $(this).attr("uid"),
        type: 'POST',
        success: function(data, status) {
            location.reload();
        },
        error: function() {
            console.log("Error occurs. Please try again.");
        }
    });
});
</script>
{% endblock %}
