{% extends "base.html" %}

{% block title %}Manage Options{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.search.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/main.manageOptions.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<a id="logo_container" href="{{ url_for('home_page') }}">
    <img src="{{ url_for('static', filename='images/UAH_logo.svg') }}" class="logo">
</a>

<div id="logout_container">
    <a href="{{ url_for('logout') }}"
       class="ui button white">
        <i class="icon sign out"></i>
        Logout
    </a>
</div>

<div id="banner_container">
    <h1 class="banner">Manage Options</h1>
</div>
{% endblock %}

{% block navbar %}
{% include "base.navbar.html" %}
{% endblock %}

{% block pagecontent %}
<div class="attr_container">
    <div class="title">Colors</div>
    <table>
        <thead>
            <tr>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for color in colors %}
            <tr>
                <td>
                    <span id='color_name_{{ color[0] }}'>{{ color[1] }}</span>
                    <form method="post" action='/colors/{{ color[0] }}' class='update_options_form' id='update_color_form_{{ color[0] }}'>
                        <input name="newColorName" type="text" value="{{ color[1] }}"></input>
                        <button class="ui button" type="submit">
                            Ok
                        </button>
                    </form>
                </td>
                <td>
                    <button class="ui button update_color_button" type="button" id="update_color_{{ color[0] }}" cid="{{ color[0] }}">
                        <span class="web">Update</span>
                        <span class="mobile">U</span>
                    </button>
                    <button class="ui button red delete_color_button" type="button" cid="{{ color[0] }}">
                        <span class="web">Delete</span>
                        <span class="mobile">D</span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="ui divider white"></div>
    <form method="post" action='/colors'>
        <label>Add new color: </label>
        <input class="new_input" name="newColorName" type="text"></input>
        <button class="ui button" type="submit">
            Add
        </button>
    </form>
</div>

<div class="attr_container">
    <div class="title">Eras</div>
    <table>
        <thead>
            <tr>
                <th>Era</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for era in eras %}
            <tr>
                <td>
                    <span id='era_name_{{ era[0] }}'>{{ era[1] }}</span>
                    <form method="post" action='/eras/{{ era[0] }}' class='update_options_form' id='update_era_form_{{ era[0] }}'>
                        <input name="newEraName" type="text" value="{{ era[1] }}"></input>
                        <button class="ui button" type="submit">
                            Ok
                        </button>
                    </form>
                </td>
                <td>
                    <button class="ui button update_era_button" type="button" id="update_era_{{ era[0] }}" eid="{{ era[0] }}">
                        <span class="web">Update</span>
                        <span class="mobile">U</span>
                    </button>
                    <button class="ui button red delete_era_button" type="button" eid="{{ era[0] }}">
                        <span class="web">Delete</span>
                        <span class="mobile">D</span>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="ui divider white"></div>
    <form method="post" action='/eras'>
        <label>Add new era: </label>
        <input class="new_input" name="newEraName" type="text"></input>
        <button class="ui button" type="submit">
            Add
        </button>
    </form>
</div>
{% endblock %}

{% block js %}
<script type='text/javascript'>
$('.update_color_button').click(function() {
    let cid = $(this).attr("cid");
    $('#color_name_' + cid).css('display', 'none');
    $('#update_color_' + cid).css('display', 'none');
    $('#update_color_form_' + cid).css('display', 'inline');
});
$('.update_era_button').click(function() {
    let eid = $(this).attr("eid");
    $('#era_name_' + eid).css('display', 'none');
    $('#update_era_' + eid).css('display', 'none');
    $('#update_era_form_' + eid).css('display', 'inline');
});
$('.delete_color_button').click(function() {
    $.ajax({
        url: '/colors/delete/' + $(this).attr("cid"),
        type: 'POST',
        success: function(data, status) {
            location.reload();
        }
    });
});
$('.delete_era_button').click(function() {
    $.ajax({
        url: '/eras/delete/' + $(this).attr("eid"),
        type: 'POST',
        success: function(data, status) {
            location.reload();
        }
    });
});
</script>
{% endblock %}
