{% extends "base.html" %}

{% block title %}Manage Options{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.search.css') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/main.manageOptions.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<a id="logo_container" href="{{ url_for('home_page') }}">
    <img src="{{ url_for('static', filename='images/UAH_logo.svg') }}" class="logo">
</a>

<div id="logout_container">
    <a href="{{ url_for('logout') }}"
       class="ui button white">
        <i class="icon sign out"></i>
        Logout
    </a>
</div>

<div id="banner_container">
    <h1 class="banner">Manage Options</h1>
</div>
{% endblock %}

{% block navbar %}
{% include "base.navbar.html" %}
{% endblock %}

{% block pagecontent %}
    <div>
        {% for color in colors %}
        <div class="colorOption">
            <span id='color_name_{{ color.CID }}'>{{ color.COLORNAME }}</span>
            <form method="post" action='/colors/{{ color.CID }}' class='update_options_form' id='update_color_form_{{ color.CID }}'>
                <input name="newColorName" type="text" value="{{ color.COLORNAME }}"></input>
                <button class="ui button" type="submit">
                    Ok
                </button>
            </form>
            <button class="ui button update_color_button" type="button" id="update_color_{{ color.CID }}" cid="{{ color.CID }}">
                Update
            </button>
            <button class="ui button delete_color_button" type="button" cid="{{ color.CID }}">
                Delete
            </button>
        </div>
        {% endfor %}
        <form method="post" action='/colors'>
            <label>Add new color: </label>
            <input name="newColorName" type="text"></input>
            <button class="ui button" type="submit">
                Add
            </button>
        </form>
    </div>
    <div>
        {% for era in eras %}
        <div class="eraOption">
            <span id='era_name_{{ era.EID }}'>{{ era.ERANAME }}</span>
            <form method="post" action='/eras/{{ era.EID }}' class='update_options_form' id='update_era_form_{{ era.EID }}'>
                <input name="newEraName" type="text" value="{{ era.ERANAME }}"></input>
                <button class="ui button" type="submit">
                    Ok
                </button>
            </form>
            <button class="ui button update_era_button" type="button" id="update_era_{{ era.EID }}" eid="{{ era.EID }}">
                Update
            </button>
            <button class="ui button delete_era_button" type="button" eid="{{ era.EID }}">
                Delete
            </button>
        </div>
        {% endfor %}
        <form method="post" action='/eras'>
            <label>Add new era: </label>
            <input name="newEraName" type="text"></input>
            <button class="ui button" type="submit">
                Add
            </button>
        </form>
    </div>
{% endblock %}

{% block js %}
<script type='text/javascript'>
$('.update_color_button').click(function() {
    let cid = $(this).attr("cid");
    $('#color_name_' + cid).css('display', 'none');
    $('#update_color_' + cid).css('display', 'none');
    $('#update_color_form_' + cid).css('display', 'inline');
});
$('.update_era_button').click(function() {
    let eid = $(this).attr("eid");
    $('#era_name_' + eid).css('display', 'none');
    $('#update_era_' + eid).css('display', 'none');
    $('#update_era_form_' + eid).css('display', 'inline');
});
$('.delete_color_button').click(function() {
    $.ajax({
        url: '/colors/delete/' + $(this).attr("cid"),
        type: 'POST',
        success: function(data, status) {
            location.reload();
        }
    });
});
$('.delete_era_button').click(function() {
    $.ajax({
        url: '/eras/delete/' + $(this).attr("eid"),
        type: 'POST',
        success: function(data, status) {
            location.reload();
        }
    });
});
</script>
{% endblock %}
