<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <link rel='stylesheet' type='text/css' href='/static/style/main-exterior.css'>
    </head>
    <body class='center'>
        <div id='screen'>
            <a href='index.html' id='back-button' class='small white button'>
                Back
            </a>

            <div id='logo'>
                <img src='/static/assets/UAH_bluewht.png'>
            </div>

            <div class='banner'>
                Registration
            </div>

            <div id='container-fields' class='vertically-center'>
                <input type='text'     class='input-field' placeholder='Username'>
                <input type='password' class='input-field' placeholder='Password'>
                <input type='email'    class='input-field' placeholder='Email'>
            </div>

            <div class='vertically-center'>
                <a href='login.html' class='blue button'>
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    Create Account
                </a>

                <a href='login.html' class='subtext'>
                    Have an account? Login here
                </a>
            </div>
        </div>

        <script src="https://use.fontawesome.com/ea1fec41e1.js"></script>
    </body>
</html>
