<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <link rel='stylesheet' type='text/css' href='/static/style/main-item.css'>
    </head>
    <body class='center'>
        <div id='screen'>
            <a href='search.html' id='back-button' class='small white button'>
                Back
            </a>

            <div class='banner'>
                <span>Item Details</span>

                <i class="fa fa-bars menu-icon"></i>
                <div class='vertically-center menu'>
                    <a href='home.html' class='menu-option'>
                        <span>Home</span>
                    </a>
                    <a href='' class='menu-option'>
                        <span>Settings</span>
                    </a>
                    <a href='index.html' class='menu-option'>
                        <span>Log Out</span>
                    </a>
                </div>
            </div>

            <div id='item-screen'>
                <div id='image-container'>
                    <div class='item-image'>
                        <img src="/static/assets/Crown.jpg">
                    </div>
                </div>

                <div id='item-name'>King's Crown</div>

                <div id='item-detail'>
                    Lorem ipsum dolor sit amet, pro ne vero volutpat patrioque.
                    Aperiri vivendo ne eum, eu sed modus exerci, his velit
                    invidunt ei. Quot iudico in vis. Labore adversarium cu sea,
                    ex est simul oportere moderatius, tation eligendi ut his.
                    Eius ceteros cu vis, elit dolor theophrastus ex pro.
                </div>

                <div id='item-status'>
                    <span>Status:</span>
                    <span class='status available'>Checked-In</span>
                </div>

                <table id='item-info'>
                    <tr>
                        <th>Category</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Condition</td>
                        <td>Good</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td>M</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>Auburn</td>
                    </tr>
                    <tr>
                        <td>Era</td>
                        <td>1300s</td>
                    </tr>
                </table>

                <div id='item-buttons'>
                    <a class='small blue button'>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        Update
                    </a>
                    <a class='small blue button'>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        Delete
                    </a>
                </div>
            </div>
        </div>

        <script src="https://use.fontawesome.com/ea1fec41e1.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="/static/scripts/jquery.colorbox-min.js"></script>
        <script src="/static/scripts/toggle-menu.js"></script>
    </body>
</html>
