{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<a id="logo_container" href="home.html">
    <img src="{{ url_for('static', filename='/images/UAH_logo.svg') }}" class="logo">
</a>

<div id="banner_container">
    <h1 class="banner">Home</h1>
</div>

<div id='logout_container'>
    <a href="{{ url_for('logout') }}"
       class="ui button white">
        <i class='icon sign out'></i>
        Logout
    </a>
</div>
{% endblock %}

{% block pagecontent %}
<nav class="ui menu">
    <a class="item blue">
        <i class="icon search"></i>
        Search Items
    </a>

    <a href="{{ url_for('additem_page') }}"
        class="item blue">
        <i class="icon write"></i>
        Add Item
    </a>


    <a class="item blue">
        <i class="icon write"></i>
        Edit Inventory
    </a>
    <a class="item blue">
        <i class="icon address book"></i>
        Manage Accounts
    </a>
    <a class="item blue">
        <i class="icon settings"></i>
        Manage Settings
    </a>
</nav>


{% endblock %}

{% block js %}{% endblock %}
