{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.search.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<a id="logo_container" href="{{ url_for('home_page') }}">
    <img src="{{ url_for('static', filename='images/UAH_logo.svg') }}" class="logo">
</a>

<div id="logout_container">
    <a href="{{ url_for('logout') }}"
       class="ui button white">
        <i class="icon sign out"></i>
        Logout
    </a>
</div>

<div id="banner_container">
    <h1 class="banner">Search</h1>
</div>
{% endblock %}

{% block navbar %}
{% include "base.navbar.html" %}
{% endblock %}

{% block pagecontent %}
<div class="search_container">
    <form class="ui search" method='post'>
        <button id="edit_filters" class="ui button fluid">
            Edit Filters
        </button>

        <div class="filter_container">
            <button id="clear_filters" class="ui button orange">
                Clear
            </button>

            <fieldset class="input_container">
                <div class="ui dropdown selection" id="category_filter">
                    <input type="hidden" name="itemCategory">
                    <i class="dropdown icon"></i>
                    <div class="default text">Category</div>
                    <div class="menu">
                        <div class="item">Costume</div>
                        <div class="item">Prop</div>
                    </div>
                </div>

                <div class="ui dropdown selection" id="condition_filter">
                    <input type="hidden" name="itemCondition">
                    <i class="dropdown icon"></i>
                    <div class="default text">Condition</div>
                    <div class="menu">
                        {% for condition in conditions %}
                        <div class="item">{{ condition }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="ui dropdown selection" id="color_filter">
                    <input type="hidden" name="itemColor">
                    <i class="dropdown icon"></i>
                    <div class="default text">Colors</div>
                    <div class="menu">
                        {% for color in colors %}
                        <div class="item">{{ color }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="ui dropdown selection" id="era_filter">
                    <input type="hidden" name="itemEra">
                    <i class="dropdown icon"></i>
                    <div class="default text">Era</div>
                    <div class="menu">
                        {% for era in eras %}
                        <div class="item">{{ era }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="ui dropdown selection" id="checked_filter">
                    <input type="hidden" name="itemChecked">
                    <i class="dropdown icon"></i>
                    <div class="default text">Check Status</div>
                    <div class="menu">
                        <div class="item">Checked-In</div>
                        <div class="item">Checked-Out</div>
                    </div>
                </div>

                <div class="ui dropdown selection costume" id="size_filter">
                    <input type="hidden" name="itemSize">
                    <i class="dropdown icon"></i>
                    <div class="default text">Size</div>
                    <div class="menu">
                        {% for size in sizes %}
                        <div class="item">{{ size }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="ui dropdown selection prop" id="dimension_filter">
                    <input type="hidden" name="itemDimension">
                    <i class="dropdown icon"></i>
                    <div class="default text">Dimension</div>
                    <div class="menu">
                        {% for dimension in dimensions %}
                        <div class="item">{{ dimension }}</div>
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="ui divider white"></div>

        <div class="ui icon input fluid">
            <input class="prompt" type="text" name="itemName" placeholder="Search...">
            <button id="search_button" class="ui button right attached" type='submit'>
                <i class="search icon"></i>
            </button>
        </div>
        <div class="results"></div>
    </form>
</div>

<div class="search_result_container">
    <div class="ui items divided">
        {% for item in items %}
        <a class="item" href="{{ url_for('item_page', oid=item.OID) }}">
            <div class="ui small image">
                <img src="{{ url_for('load_image', filename=item.IMAGE) }}">
            </div>
            <div class="content">
                <div class="header">{{ item.OBJECTNAME }}</div>
                <div class="meta">
                    <p class="condition">Condition: {{ item.CNDTNNAME }}</p>
                    <p class="timePeriod">Era: {{ item.ERANAME }}</p>
                </div>
                <div class="description">
                    <p>{{ item.DESCRIPTION }}</p>
                </div>
            </div>
        </a>
        {% endfor %}

        {% if not items %}
        <div class="empty">
            <span>No matching search results :(</span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/semantic.dropdown.js') }}" type="text/javascript"></script>
<script type="text/javascript">
$('#clear_filters').click(function() {
    $('.ui.dropdown').dropdown('clear');
    $('.costume').css('display', 'none');
    $('.prop').css('display', 'none');
});

$('#category_filter .menu').click(function() {
    if ($('#category_filter input').val() == 'costume')
    {
        $('.costume').css('display', 'inline-block');
        $('.prop').css('display', 'none');
    }
    else if ($('#category_filter input').val() == 'prop')
    {
        $('.costume').css('display', 'none');
        $('.prop').css('display', 'inline-block');
    }
    else {
        $('.costume').css('display', 'none');
        $('.prop').css('display', 'none');
    }
});

{% if selectedCategory %}
$('#category_filter').dropdown('set selected', '{{ selectedCategory }}');
{% endif %}

{% if selectedCondition %}
$('#condition_filter').dropdown('set selected', '{{ selectedCondition }}');
{% endif %}

{% if selectedColor %}
$('#color_filter').dropdown('set selected', '{{ selectedColor }}');
{% endif %}

{% if selectedEra %}
$('#era_filter').dropdown('set selected', '{{ selectedEra }}');
{% endif %}

{% if selectedCategory == "costume" %}
    $('.costume').css('display', 'inline-block');
    {% if selectedSize %}
        $('#size_filter').dropdown('set selected', '{{ selectedSize }}');
    {% endif %}
{% endif %}

{% if selectedCategory == "prop" %}
    $('.prop').css('display', 'inline-block');
    {% if selectedDimension %}
        $('#dimension_filter').dropdown('set selected', '{{ selectedDimension }}');
    {% endif %}
{% endif %}
</script>
{% endblock %}
