{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block stylesheets %}
<link href="{{ url_for('static', filename='css/main.search.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
<a id="logo_container" href="{{ url_for('home_page') }}">
    <img src="{{ url_for('static', filename='images/UAH_logo.svg') }}" class="logo">
</a>

<div id="logout_container">
    <a href="{{ url_for('logout') }}"
       class="ui button white">
        <i class="icon sign out"></i>
        Logout
    </a>
</div>

<div id="banner_container">
    <h1 class="banner">Search</h1>
</div>
{% endblock %}

{% block navbar %}
{% include "base.navbar.html" %}
{% endblock %}

{% block pagecontent %}
<div class="ui modal">
    <i class="close icon"></i>
    <div class="filter_container">
        <button type="button"
               class="ui button fluid orange clear_filters"
               style="margin: 10px; width: 85%;">
            Clear
        </button>

        <div class="ui dropdown selection fluid category_filter">
            <input type="hidden" name="itemCategory">
            <i class="dropdown icon"></i>
            <div class="default text">Category</div>
            <div class="menu">
                <div class="item">Costume</div>
                <div class="item">Prop</div>
            </div>
        </div>

        <div class="ui dropdown selection fluid condition_filter">
            <input type="hidden" name="itemCondition">
            <i class="dropdown icon"></i>
            <div class="default text">Condition</div>
            <div class="menu">
                {% for condition in conditions %}
                <div class="item">{{ condition }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="ui dropdown selection fluid color_filter">
            <input type="hidden" name="itemColor">
            <i class="dropdown icon"></i>
            <div class="default text">Colors</div>
            <div class="menu">
                {% for color in colors %}
                <div class="item">{{ color }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="ui dropdown selection fluid era_filter">
            <input type="hidden" name="itemEra">
            <i class="dropdown icon"></i>
            <div class="default text">Era</div>
            <div class="menu">
                {% for era in eras %}
                <div class="item">{{ era }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="ui dropdown selection fluid checked_filter">
            <input type="hidden" name="itemChecked">
            <i class="dropdown icon"></i>
            <div class="default text">Check Status</div>
            <div class="menu">
                <div class="item">Checked-In</div>
                <div class="item">Checked-Out</div>
            </div>
        </div>

        <div class="ui input fluid size_filter">
            <input class="filter prompt"
                    type="text"
                    name="itemSize"
             placeholder="Size"
                   value="{{ itemSize }}">
        </div>
    </div>
</div>

<div class="search_container">
    <form class="ui search" method='post'>
        <button id="edit_filters" type="button" class="ui button fluid">
            Edit Filters
        </button>

        <div class="filter_container">
            <button type="button" class="ui button orange clear_filters">
                Clear
            </button>

            <fieldset class="input_container">
                <div class="ui dropdown selection category_filter">
                    <input type="hidden" name="itemCategory">
                    <i class="dropdown icon"></i>
                    <div class="default text">Category</div>
                    <div class="menu">
                        <div class="item">Costume</div>
                        <div class="item">Prop</div>
                    </div>
                </div>

                <div class="ui dropdown selection condition_filter">
                    <input type="hidden" name="itemCondition">
                    <i class="dropdown icon"></i>
                    <div class="default text">Condition</div>
                    <div class="menu">
                        {% for condition in conditions %}
                        <div class="item">{{ condition }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="ui dropdown selection color_filter">
                    <input type="hidden" name="itemColor">
                    <i class="dropdown icon"></i>
                    <div class="default text">Colors</div>
                    <div class="menu">
                        {% for color in colors %}
                        <div class="item">{{ color }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="ui dropdown selection era_filter">
                    <input type="hidden" name="itemEra">
                    <i class="dropdown icon"></i>
                    <div class="default text">Era</div>
                    <div class="menu">
                        {% for era in eras %}
                        <div class="item">{{ era }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="ui dropdown selection checked_filter">
                    <input type="hidden" name="itemChecked">
                    <i class="dropdown icon"></i>
                    <div class="default text">Check Status</div>
                    <div class="menu">
                        <div class="item">Checked-In</div>
                        <div class="item">Checked-Out</div>
                    </div>
                </div>

                <div class="ui input size_filter">
                    <input class="filter prompt"
                            type="text"
                            name="itemSize"
                     placeholder="Size"
                           value="{{ itemSize }}">
                </div>
            </fieldset>
        </div>

        <div class="ui divider white"></div>

        <div class="ui icon input fluid">
            <input class="search prompt"
                    type="text"
                    name="itemName"
             placeholder="Search..."
                   value="{{ itemName }}">
            <button id="search_button" class="ui button right attached" type='submit'>
                <i class="search icon"></i>
            </button>
        </div>
        <div class="results"></div>
    </form>
</div>

<div class="search_result_container">
    <div class="ui items divided">
        {% for item in items %}
        <a class="item" href="{{ url_for('item_page', oid=item[0]) }}">
            <div class="ui small image">
                {% if item[8] and fileExists(item[8]) %}
                <img src="{{ url_for('load_image', filename=item[8]) }}">
                {% else %}
                <div class="alt">Image Not Available</div>
                {% endif %}
            </div>
            <div class="content">
                <div class="header">{{ item[1] }}</div>
                <div class="meta">
                    <p class="condition">Condition: {{ item[5] }}</p>
                    <p class="timePeriod">Era: {{ item[6] }}</p>
                </div>
                <div class="description">
                    <p>{{ item[2] }}</p>
                </div>
            </div>
        </a>
        {% endfor %}

        {% if not items %}
        <div class="empty">
            <span>No matching search results :(</span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/semantic.dropdown.js') }}" type="text/javascript"></script>
<script type="text/javascript">
$('#edit_filters').click(function() {
    $('.ui.modal').modal('show');
});

$('.clear_filters').click(function() {
    $('.ui.dropdown').dropdown('clear');
    $('.prompt').val('');
});

{% if selectedCategory %}
$('.category_filter').dropdown('set selected', '{{ selectedCategory }}');
{% endif %}
$('.ui.modal .category_filter .menu').click(function() {
    $('.search_container .category_filter').dropdown('set selected', $('.ui.modal .category_filter input').val());
});
$('.search_container .category_filter .menu').click(function() {
    $('.ui.modal .category_filter').dropdown('set selected', $('.search_container .category_filter input').val());
});

{% if selectedCondition %}
$('.condition_filter').dropdown('set selected', '{{ selectedCondition }}');
{% endif %}
$('.ui.modal .condition_filter .menu').click(function() {
    $('.search_container .condition_filter').dropdown('set selected', $('.ui.modal .condition_filter input').val());
});
$('.search_container .condition_filter .menu').click(function() {
    $('.ui.modal .condition_filter').dropdown('set selected', $('.search_container .condition_filter input').val());
});

{% if selectedColor %}
$('.color_filter').dropdown('set selected', '{{ selectedColor }}');
{% endif %}
$('.ui.modal .color_filter .menu').click(function() {
    $('.search_container .color_filter').dropdown('set selected', $('.ui.modal .color_filter input').val());
});
$('.search_container .color_filter .menu').click(function() {
    $('.ui.modal .color_filter').dropdown('set selected', $('.search_container .color_filter input').val());
});

{% if selectedEra %}
$('.era_filter').dropdown('set selected', '{{ selectedEra }}');
{% endif %}
$('.ui.modal .era_filter .menu').click(function() {
    $('.search_container .era_filter').dropdown('set selected', $('.ui.modal .era_filter input').val());
});
$('.search_container .era_filter .menu').click(function() {
    $('.ui.modal .era_filter').dropdown('set selected', $('.search_container .era_filter input').val());
});

{% if selectedChecked %}
$('.checked_filter').dropdown('set selected', '{{ selectedChecked }}');
{% endif %}
$('.ui.modal .checked_filter .menu').click(function() {
    $('.search_container .checked_filter').dropdown('set selected', $('.ui.modal .checked_filter input').val());
});
$('.search_container .checked_filter .menu').click(function() {
    $('.ui.modal .checked_filter').dropdown('set selected', $('.search_container .checked_filter input').val());
});

$('.ui.modal .size_filter input').keyup(function() {
    $('.search_container .size_filter input').val($('.ui.modal .size_filter input').val());
});
$('.search_container .size_filter input').keyup(function() {
    $('.ui.modal .size_filter input').val($('.search_container .size_filter input').val());
});
</script>
{% endblock %}
