/* Screen Constants */
@screen_min_width  : 300px;
@screen_max_width  : 767px;

/* Colors */
@uah_blue : #007AC4;

/* Theme Variables */
@color_primary        : @uah_blue;
@color_secondary      : #6f9bdc;
@color_tertiary       : #ACC0FD;
@color_text           : black;

@alert_color_success  : #dff0d8;
@alert_border_success : #d0e9c6;
@alert_text_success   : #3c763d;

@alert_color_danger   : #f2dede;
@alert_border_danger  : #ebcccc;
@alert_text_danger    : #a94442;

/* Animations */
@anim_duration : 0.25s;

/* Miscellaneous */
@menu-option-padding: 7.5px;
